.navbar {
  background: #ee6e73;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0;
  margin: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 5rem;
  width: 100%;
}

.menu-icon {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

.navbar-logo {
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-self: center;
  justify-content: center;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.user-button {
  color: #4d4c4c;
  background-color: transparent;
  border: 1px solid darkslategrey;
  width: 5rem;
  height: 2.5rem;
  margin-right: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.05rem;
}

.user-link {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #4d4c4c;
  font-size: 1.15rem;
}

.user-icon {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: white;
}

.user-initial {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 4rem;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}

.nav-menu.active {
  background: lightgrey;
  left: 0;
  opacity: 0.95;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-item {
  height: 5rem;
  align-self: center;
}

.nav-links {
  color: #4d4c4c;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 2rem;
  height: 100%;
  font-size: 1.25rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.nav-links:hover {
  color: #0096c7;
  transition: all 0.2s ease-out;
}
