.search-container {
  background-image: url("/server/public/images/home-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50%;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100rem;
  height: 35vh;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-icon {
  position: relative;
  left: 2rem;
  color: #979797;
  font-size: 1.25rem;
  cursor: pointer;
}

.search-bar {
  width: 80%;
  max-width: 50rem;
  height: 2.75rem;
  border-radius: 0.35rem;
  border: 1px solid darkslategray;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  padding-left: 3rem;
  margin-right: 1.5rem;
}
